@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
    background-image: url("pic.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: black
    margin: 14rem;
    font-family: 'Architects Daughter', cursive;
}
h1{
    font-size: 4rem;
}


.container{

    text-align: center;
    padding: 2rem;
}

textarea{
    width:50%;
    height:5vh;
    margin:18px;
    border-radius: 15px;
    padding: 1rem;
    font-size: 26px;
    background-color: #c4cbf5;
    font-style: italic;
    font-weight: bold;
   
}

#btn{
    padding: 1rem;
    font-size: 23px;
    border-radius: 20px;
    background-color: rgb(76, 235, 182);
    color:black;
    width: 35%;
}
#input{
    width:30%;
    height: 5vh;
}

/* media quereies */

@media (max-width:949px){
    body{
        margin:7rem;
    }
    textarea{
        width: 64%;
        height: 8vh;
        font-size: 20px;
    }
    #input{
        width:46%;
    }
    #btn{
        font-size: 17px;
        padding: 10px;
    }
    h1{
        font-size: 3rem;
    }
}

@media(max-width:590px){
    body{
        margin: 4rem;
    }
    textarea{
        font-size: 20px;
    }
    #input{
        width: 45%;
    }
    #btn{
        font-size: 15px;
        padding: 8px; 
    }
    h1{
        font-size: 5rem;
    }
}
@media(max-width:420px){
    body{
        margin: 2rem;
    }
    textarea{
        font-size: 18px;
    }
    #btn{
        font-size: 12px;
        padding: 6px; 
    }
    h1{
        font-size: 2rem;
    }
}